body {
    background: #fff;
}

main {
    flex: 1 0 auto;
}

.progress-wrap {
    height: 4px;
}

.progress {
    margin: 0;
}

.gmeet>iframe {
    height: calc(100vh - 120px);
    width: 100%;
    border: 0;
    background-color: lightseagreen
}

.container-gmeet {
    padding: 1rem 0;
    height: calc(100vh - 68px);
}

.paddingRight1rem {
    padding-right: 1rem;
}

.flat-text {
    height: 25px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.15);
    display: block;
    margin: 27px auto;
}

.flat-text.small {
    width: 25%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.15);
}

.example {
    background-color: #26a69a;
    height: 300px;
}